* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home,
.about,
.puppies,
.dogs {
    display: flex;
    height: 91.5vh;
}

.home {
    background-image: url('/public/images/example.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.welcome {
    background-color: rgba(26, 23, 23, 0.90);
    padding: 40px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 350px;
    height: fit-content;
    text-align: center;
    display: block;
}
